:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: rgb(19, 20, 19);
  color: #7e7a7a;
  padding: 1rem;
  text-align: center;
}

.main {
  flex-grow: 1;
  padding: 1rem;
}

.footer {
  background-color: rgb(6, 5, 5);
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
