.dashboard-section {
  display: flex;
  gap: 10px;
  border: 1px solid greenyellow;
  margin-top: 10px;
}

.sidebar {
  width: 200px;
  padding-right: 20px;
  border-right: 1px solid #eee;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 0;
}

.sidebar li a:hover {
  background-color: dodgerblue;
}

.content {
  flex-grow: 1;
  padding-left: 20px;
}
